#country-facts {
    padding-top: 50px;
    padding-bottom: 50px;
    p {
        @include regular-text;
        strong {
            font-weight: normal;
            font-family: $lato-bold;
            color: $red;
        }
        a {
            color: #2e2e2e;
            &:hover {
                color: $red;
            }
        }
    }
    .countries-list {
        margin-top: 50px;
        h3 {
            @include heading-font3;
            color: $red;
            margin-bottom: 20px;
        }   
        ul {
            @include list-style;
            li {
                a {
                    color: #2e2e2e;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}