.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
    }
    .collapse {
        ul {
            ul {
                @media (min-width: 1550px) and (max-width: 1900px) {
                    min-width: 200px!important;
                }
                ul {
                    @media (min-width: 1200px) and (max-width: 1499px) {
                        left: auto!important;
                        right: 100%!important;
                    }
                }
            }
        }
        
    }
    .navbar-collapse {
        height: 100%;
        .navbar-nav {
            height: 100%; 
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            @media (min-width: 992px) {
                flex-direction: row;
            }
            li {
                height: 100%;
                align-items: center;
                &.dropdown {
                    position: relative;
                }
                a {
                    display: flex;
                    height: 100%;
                    align-items: center;
                }
            }
        }
    }
    .navbar-nav {
        margin-left: auto;
        @media (max-width: 1199px) {
            display: none!important;
        }
        @include bp(md) {
            flex-direction: row;
            width: 100%;
        }
        >li {
            a {
                color: #444;
                font-size: 15px;
                line-height: 1.5;
                padding-right: 13px;
                padding-left: 13px;
                text-transform: capitalize;
                letter-spacing: 0px;
                font-family: $lato-bold;
                display: block;
                position: relative;
                @include bp(lg) {
                    font-size: 17px;
                }
                @include bp(md) {
                    font-size: 15px;
                }
                &:hover {
                    color: $red;
                }
                &.active {
                    color: $red;
                }
                &.dropdown-toggle:after {
                    border: 0;
                }
            }
            &:hover {
                >a {
                    color: $red;
                }
            }
        }
        /*>.show>a {
            color: #000;
            background: #fff;
            outline: 0;
            text-decoration: none !important;
            &:focus,
            &:hover {
                color: #000;
                background: #fff;
                outline: 0;
                text-decoration: none !important;
            }
            &.dropdown-toggle {
                &:after {
                    color: #000;
                }
            }
        }*/
    }
}


/*==========Sub Menu=v==========*/

.mainmenu {
    .collapse ul ul {
        a {
            font-family: $lato-reg;
            font-size: 14px;
            color: #777777;
            text-transform: capitalize;
            letter-spacing: 1px;
            display: block;
            position: relative;
            line-height: 18px;
            text-align: left;
            float: none;
            margin: 0;
            padding: 10px 20px;
            &.active {
                color: $red;
            }
            &:hover {
                color: $red;
            }
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e901";
            font-family: "icomoon";
            font-weight: 900;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        background-color: #fff;
        padding: 8px 0;
        -webkit-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.15);
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
        transition: opacity 0.15s linear;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 270px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 270px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 200px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu {
        >li>a {
            padding: 16px 15px 16px 35px;
        }
        .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px;
        }
    }
}


// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
    background: linear-gradient(to right,#ed1d24 0,#f36b23 100%);
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .close-menu-btn {
        position: absolute;
        top:10px;
        right:-15px;
        color:$white;
        font-size: 20px;
        width: 40px;
        height: 40px;
        img {
            @include centre(both);
            width: 22px;
            filter: brightness(0) invert(1);
        }
    }
    // arrow
    small {
        display:block;
        width:50px;
        height:49px;
        position: absolute;
        top:0px;
        right:0px;    
        &:after {
            font-family: $font-main;
            content:'+';
            color:$white;
            font-size: 32px!important;
            @include centre(both);
        }
        &.active {
            &:after {
                content:'-'!important;
                @include centre(both);
                margin-top: -3px;    
                color:$white;
            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 30px;
        .mobile-logo {
            filter: brightness(0) invert(1);
        }
		#menu {
			.nav-links {
                padding-top: 10px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom:1px solid rgba($white,0.3);
                    font-size: 16px;
                    color:$white;
                    position: relative;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-transform: uppercase;
                    display: block;
                    font-family: $font-heading;
					&:hover {
						color:$white;
					}
				}
				li {
					ul {
						padding-top: 10px;
						padding-bottom: 10px;
						li {
							a {
								display: block;
								font-size: 1em;
								color:#5d5d5d;
								padding-top: 5px;
								padding-bottom: 5px;
								position: relative;
								color:$white;
								line-height: 1.3;
                                
								&:hover {
									color:$white;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}