/*===============================
=               FAQ             =
===============================*/

#faq {
    padding-top: 75px;
    padding-bottom: 95px;
    @include bp(lg) {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    @include bp(md) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    @include bp(sm-down) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .faq__accordion {
        .faq-wrap {
            border: 1px solid #ececec;
            border-top:0;
        }
        h3 {
            font-family: $lato-bold;
            position: relative;
            padding: 12px 30px 12px 15px;
            color: #222222;
            font-size: 0.813em;
            line-height: 1.7;
            cursor: pointer;
            background-color: #fdfdfd;
            @include animate-fade;
            border:0;
            margin: 0;
            &:hover {
                cursor: pointer;
                color: $red;
                background-color: #f8f8f8;
            }
            &:focus {
                outline: none!important;
            }
            &:after {
                font-family: "icomoon";
                content: "\e901";
                @include centre(y);
                right: 15px;
                font-size: 1.125em;
                font-weight: 900;
                color: #adadad;
                @include animate-fade;
            }
            &.active {
                background-color: #f8f8f8;
                &:after {
                    content: "\e900";
                }
            }
        }
        .content {
            border:0;
            padding: 20px;
            display: none;
            p {
                @include regular-text;
                color: #777777;
                strong {
                    color: $red;
                    font-family: $lato-bold;
                }
                a {
                    font-family: $lato-bold;
                    &:hover {
                        color: $red;
                        text-decoration: none;
                    }
                }
            }
            ul {
                @include list-style;
                li {
                    margin-bottom: .5em;
                    a {
                        text-decoration: underline;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

.content__accordion {
    .faq-wrap {
        border: 1px solid #ececec;
        border-top:0;
    }
    h3 {
        font-family: $lato-bold;
        position: relative;
        padding: 12px 30px 12px 15px;
        color: #222222;
        font-size: 0.813em !important;
        line-height: 1.7 !important;
        cursor: pointer;
        background-color: #fdfdfd;
        @include animate-fade;
        border:0;
        margin: 0 !important;
        text-transform: none;
        &:hover {
            cursor: pointer;
            color: $red !important;
            background-color: #f8f8f8;
        }
        &:focus {
            outline: none!important;
        }
        &:after {
            font-family: "icomoon";
            content: "\e901";
            @include centre(y);
            right: 15px;
            font-size: 1.125em;
            font-weight: 900;
            color: #adadad;
            @include animate-fade;
        }
        &.active {
            background-color: #f8f8f8;
            &:after {
                content: "\e900";
            }
        }
    }
    .content {
        border:0;
        padding: 20px;
        display: none;
        p {
            @include regular-text;
            color: #777777;
            strong {
                color: $red;
                font-family: $lato-bold;
            }
            a {
                font-family: $lato-bold;
                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
        ul {
            @include list-style;
            li {
                margin-bottom: .5em;
                a {
                    text-decoration: underline;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}


