#services-page {
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        @include heading-font;
    }
    h2 {
        @include heading-font2;
    }
    h3 {
        @include heading-font3;
    }
    p {
        @include regular-text;
        strong {
            font-weight: normal;
            font-family: $lato-bold;
            color: $red;
        }
        b {
            font-weight: normal;
            font-family: $lato-bold;
        }
        em {
            font-family: $lato-reg;
            font-style: italic;
        }
        a {
            color: #2e2e2e;
            &:hover {
                text-decoration: none;
                color: $red;
            }
        }
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    ul {
        @include list-style;
        li {
            strong {
                font-weight: normal;
                font-family: $lato-bold;
                color: $red;
            }
            em {
                font-family: $lato-reg;
                font-style: italic;
            }
            a {
                color: #2e2e2e;
                &:hover {
                    text-decoration: none;
                    color: $red;
                }
            }
        }
    }
    ol {
        margin-bottom: 1em;
        li {
            @include regular-text;
            margin-bottom: 0;
        }
    }
    .services-photo {
        margin-bottom: 30px;
    }
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .custom-crating {
        margin-bottom: 35px;
    }
    .relocation-intro {
        margin-bottom: 25px;
    }
    .relocation-item {
        @include bp(lg-down)  {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        p {
            padding-top: 20px;
            padding-left: 20px;
            @include bp(lg-down) {
                padding-top: 0;
                padding-left: 0!important;
                padding-right: 0!important;
            }
        }
        ul {
            list-style-type: none!important;
            margin-left: 0;
            li {
                position: relative;
                padding-left: 30px;
                &:before {
                    content: '✔';
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        &:nth-of-type(even) {
            p {
                padding-left: 0;
                padding-right: 20px;
            }
        }
        img {
            @include bp(sm-down) {
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
    .relocation-form {
        margin-top: 35px;
        @include bp(sm-down) {
            .col-md-6 {
                min-width: 100%!important;
            }
        }
    }
}

#container-sizes {
    /*max-width: 995px;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*padding-bottom: 80px;
    @include bp(desktop) {
       padding-bottom: 40px;
    }
    @include bp(lg) {
        padding-bottom: 20px;
    }
    @include bp(md) {
        padding-bottom: 0px;
    }
    @include bp(sm-down) {
        padding-bottom: 0px;
    }*/
    .container-photo {
        padding-top: 30px;
        margin-top: 40px;
        border-top: 1px solid #EBEBEB;
        &:first-of-type {
            padding-top: 0;
            margin-top: 0;
            border-top: 0;
        }
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
    .container-table {
        margin: 20px 0;
        h2 {
            @include heading-font2;
            margin-bottom: 20px;
            text-align: center;
            @include bp(sm-down) {
            }
        }
        table {
            width: 100%;
            margin-bottom: 20px;
            thead {
                tr {
                    background: $red!important;
                    color: #fff !important;
                }
            }
            th, td {
                padding: 12px;
                text-align: center;
                @include regular-text;
                @include bp(md) {
                    font-size: 15px;
                }
                @include bp(sm-down) {
                    font-size: 14px;
                }
            }
            tr {
                th {
                    text-align: center;
                    font-weight: normal;
                    font-family: $lato-bold;
                    text-transform: uppercase;
                    padding: 18px 12px;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    background: $red!important;
                    @include bp(sm-down) {
                        font-size: 12px;
                    }
                }
            }
            tr {
                &:nth-child(odd) {
                    background-color: rgba(0, 0, 0, 0.04);
                }
                &:nth-child(even) {
                    background-color: rgba(0, 0, 0, 0.02);
                }
                td {
                    border-left: 1px solid #fff;
                    &:first-of-type {
                        border-left: 0;
                    }
                }
            }
        }
    }
}